<div id="search">
  <div class="search_bt">
    个人中心
  </div>
  <div class="user">
    <ul>

      <li class="u_1" onclick="document.location='user/login';"><p>个人资料</p><a class="login_an">点击登录</a></li>


      <li class="u_2" onclick="document.location='user/money';" style="display: none;"><p>我的鲸币</p></li>
      <li class="u_3" onclick="document.location='#';" style="display: none;"><p>分享</p></li>
      <li class="u_4" onclick="document.location='user/browse';"><p>浏览记录</p></li>
      <li class="u_5" onclick="document.location='user/collection';"><p style="border:none;">我的收藏</p></li>
    </ul>
    <ul>
      <li class="u_6" onclick="document.location='user/feedback';"><p>意见反馈</p></li>
      <li class="u_8" onclick="document.location='user/help';"><p>使用帮助</p></li>
      <li class="u_9" onclick="document.location='user/about';"><p style="border:none;">关于比比鲸</p></li>
    </ul>
  </div>
