<div id="search" style="background-color:#ffffff;">
  <div class="data_head">
    <div class="search_bt">
      电商数据搜索引擎
    </div>
    <p class="data_sm">最全的商品数据搜索引擎，精准快速查找所需商品的详细数据</p>
    <div class="data_banner"><img src="./src/images/shuju_banner.png" alt="" class="a_o"/></div>
  </div>
  <div class="data_main">
    <div class="data1">
      <h4>总体销售趋势</h4>
      <p>比比鲸提供各行业及细分品类的销售状况，以及平均成交价格趋势等，分析总的趋势和变化情况。</p>
      <a class="a_o">立即使用</a>
      <img src="./src/images/data_pic1.png" alt=""/>
    </div>
    <div class="data1">
      <h4>高中低端商品销售分析</h4>
      <p>针对不同品类合理划分价格区间，比比鲸对各价格区间进行统计销量和占比， 分析市场上高中低端商品的消费情况。</p>
      <a href="#" class="a_o">立即使用</a>
      <img src="./src/images/data_pic2.png" alt=""/>
    </div>
    <div class="data1">
      <h4>品牌竞争状况</h4>
      <p>多维度地展现品牌之间的竞争情况和趋势，可以针对性选择特定品牌，查看某品牌的电商渠道和店铺等部署情况等，为企业制定针对性运营策略提供参考。</p>
      <a class="a_o">立即使用</a>
      <img src="./src/images/data_pic3.png" alt=""/>
    </div>
    <div class="data1">
      <h4>电商渠道销售状况</h4>
      <p>多维度地分析各电商平台销售状况，挖掘其背后的数据信息，可以针对性地选择特定电商，查看某电商平台上各品牌和单品销售情况等，为企业选择渠道和制定策略提供数据依据。</p>
      <a class="a_o">立即使用</a>
      <img src="./src/images/data_pic4.png" alt=""/>
    </div>
    <div class="data1">
      <h4>店铺销售排行</h4>
      <p>了解店铺在各维度的排名情况，可以选择电商，查看在电商渠道上的排名，为企业制定渠道合作伙伴策略提供数据参考。</p>
      <a class="a_o">立即使用</a>
      <img src="./src/images/data_pic5.png" alt=""/>
    </div>
  </div>
    