
<div id="top">
  <div class="logo" >
    <a ui-sref="home">
      <img src="./src/images/logo.gif" />
    </a>
  </div>
  <a ui-sref="search" class="search" >

      <p>搜商品，查报价</p>
      <img src="./src/images/ss.png" alt="" />
    </a>

</div>
<div id="con">
  <div class="banner">
    <div class="home-device">
      <a class="arrow-left"></a>
      <a class="arrow-right"></a>
      <div class="swiper-main">
        <div class="swiper-container swiper1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img id="pc_0" alt="iphone7" src="./src/images/banner1.jpg" />
            </div>
            <div class="swiper-slide">
              <a href="data"><img alt="大数据购物" id="pc_1" src="./src/images/banner2.jpg" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination pagination1"></div>
    </div>
  </div>
  <div id="menudiv">
    <a class="tm_div" ui-sref="main.renqi">
      <span><img src="./src/images/main_home_bangdan1.png" alt="" /></span>
      <div class="main_an">人气榜</div>
    </a>
    <a class="tm_div" ui-sref="main.haopin">
      <span><img src="./src/images/main_home_bangdan2.png" alt="" /></span>
      <div class="main_an">好评榜</div>
    </a>
    <a class="tm_div" ui-sref="main.jianjia">
      <span><img src="./src/images/main_home_bangdan3.png" alt="" /></span>
      <div class="main_an">降价榜</div>
    </a>
    <a class="tm_div" ui-sref="main.pinpai">
      <span><img src="./src/images/main_home_bangdan4.png" alt="" /></span>
      <div class="main_an">品牌榜</div>
    </a>
    <a class="tm_div" ui-sref="main.wanghong">
      <span><img src="./src/images/main_home_bangdan5.png" alt="" /></span>
      <div class="main_an">网红榜</div>
    </a>
    <a class="tm_div" ui-sref="main.mingxing">
      <span><img src="./src/images/main_home_bangdan6.png" alt="" /></span>
      <div class="main_an">明星榜</div>
    </a>
    <a class="tm_div" ui-sref="main.xiaoliang">
      <span><img src="./src/images/main_home_bangdan7.png" alt="" /></span>
      <div class="main_an">销量榜</div>
    </a>
    <a class="tm_div" ui-sref="main.zonghe">
      <span><img src="./src/images/main_home_bangdan8.png" alt="" /></span>
      <div class="main_an">综合榜</div>
    </a>
  </div>
</div>
<div id="index_hot">
  <div class="hot_l" >
    <p><img src="./src/images/cz.png" alt="" /></p>
  </div>
  <div class="hot_r">
    <div class="hot_ra" >
      <p><img src="./src/images/sx.png" alt="" /></p>
    </div>
    <div class="hot_rb">
      <div class="hot_rb1" >
        <p><img src="./src/images/bk.png" alt="" /></p>
      </div>
      <div class="hot_rb2" >
        <p><img src="./src/images/cc.png" alt="" /></p>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei1.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei2.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei3.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei4.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei5.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei6.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei7.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei8.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei9.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei10.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei11.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei12.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei13.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei14.jpg" alt="" />
  </div>
  <div class="fenlei">
    <img src="./src/images/main_home_fenlei15.jpg" alt="" />
  </div>
  <div class="dbts">
    滑到底了，偶可是有底线的哦~
  </div>
</div>
<div class="app">
  <p class="app_wz">下载APP更方便</p>
  <div class="app_a" onclick="window.open('http://www.bibijing.com:80/mobileDown?clientType=android')">
    Android
  </div>
  <div class="app_i" onclick="window.open('http://www.bibijing.com:80/mobileDown?clientType=ios')" style="display: none;">
    IOS
  </div>
  <div class="app_gb">
    <img src="./src/images/icon_clean.png" alt="" />
  </div>
</div>
