<div class="zz"></div>
<div id="towCategory">
  <div class="title"><hr/><p>服饰</p><hr/></div>
  <table>
    <tr>
      <td>女装</td>
      <td>男装</td>
    </tr>
    <tr>
      <td>服饰配件</td>
    </tr>
  </table>
  <div class="close">取消</div>
</div>


<div id="search" style="position: fixed;width: 100%;overflow: visible;top: 0;left: 0;background: #f5f5f5;">
  <div class="search_bt">
    搜索
  </div>
  <div class="search_kuang">
    <select class="search_xl">
      <option value ="全网购">全网购</option>
      <!--   		  <OPTION VALUE ="海外购">海外购</OPTION> -->
    </select>
    <form method="post" id="form_search" action="#">
      <input class="search_sr" type="search" style="height: inherit;" x-webkit-speech onwebkitspeechchange="alert(this.value)" placeholder="输入商品名，查看全部报价"/>
    </form>
    <input class="search_an" type="button"/>
  </div>
</div>
<div style="padding-top: 111px;padding-bottom: 55px;">
  <div class="search_hot">
    <p>热门搜索</p>

    <span addtion="">iphone7</span>

    <span addtion="020103">三星</span>

    <span addtion="240321">秋衣秋裤</span>

    <span addtion="030313">电炖锅</span>

    <span addtion="240313">情侣睡衣</span>

    <span addtion="160209">T恤</span>

    <span addtion="1701">奶粉</span>

    <span addtion="">小米5</span>

    <span addtion="">风衣</span>

    <span addtion="">围巾</span>

    <ul class="search_ls">
    </ul>
  </div>
  <div class="search_qc">清除历史记录</div>
</div>